body {
  font-family:'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin: 0;
  border: 10px;
  border-radius: 10px;
  border-style: dashed;
  margin-left: 600px;
  margin-right: 600px;
  margin-top: 70px;
}

form {
  background-color: #e098ce;
}